extends ../shared/template

block content
  h1= user.name

  #name= user.name
  #email= user.email
  #role= user.role

  if membersOf.length === 0
    a(href='/accounts/new') Create Happy-share account
  else
    table
      thead
        th Name
        th Members
        th Description
      tbody
      each account in membersOf
          tr
            td: a(href='/accounts/'+ account._id.toString())= account.name
            td(style='text-align: center'): a(href='/accounts/members/'+account._id.toString())= account.members.length
            td= account.description

