

h1(style="color:green")= subject
p Hi, #{name},
p A payment of #{amount} has been made by #{paidBy} on #{day}.
p You can see your share by following this link 
a(href='http://happyshare.samtes.us')= 'View your share!'

small The Management.
