extends ../shared/template

block content
  h3= 'Account: '+ account.name
  h6= account.description +' with '
    a(href='/accounts/members/'+account._id.toString())= account.members.length + ' members'

  if account
    .row
      .small-5.columns
        form(method='post', action='/accounts/member/'+account._id.toString())
          fieldset
            legend Add members
            if users.length > 0
              label select users
              select(name='member')
                each user in users
                  if user._id.toString()!== account.ownerId.toString()
                    option(value= user._id.toString())= user.name
              button.tiny.radius Add Member
      .small-2.columns
        label &nbsp
        label &nbsp
        label &nbsp
        label &nbsp
        label &nbsp
        label(style='text-align: center') -----OR-----
      .small-5.columns
        form(method='post', action='/accounts/'+account._id.toString())
          fieldset
            legend Invite members
            label Member's email
            input(type='email', name='email', required=true)
            label Send a note
            textarea(type='text', name='message', required=true)
            button.tiny.radius Send Note

    .row
      .small-3.columns
        form(method='post', action='/accounts/logic/'+account._id.toString())
          fieldset
            legend Enter Share Amount
            each member in members
              label= member.name +'\'s share in %'
              input(type='text', name=member._id.toString())
            button.tiny.radius Define Logic
  .row
    .small-5.columns
      form(method='post', action='/accounts/payments/'+account._id.toString(), enctype='multipart/form-data')
        fieldset
          legend=title
          .small-7.columns
            label Date
            input(type='date', required=true,  name='date')
          .small-5.columns
            label Amount
            input(type='text', required=true, name='amount')
          label Attachment
          input(type='file', name='attachment')
          button.tiny.radius Add

