extends ../shared/template

block less
    link(rel='stylesheet', href='/less/account-invite.css')

block content
  h3= 'Account: '+ account.name
  h6= account.description +' with '
    a(href='/accounts/members/'+account._id.toString())= account.members.length + ' members'

  if members
    #balancer
      .row
        .small-6.columns
          h6 Current Members
          table(style='width:100%')
            thead
              th Members
              th Email
              th Share
              th Balance
            tbody
              each user in members
                tr
                  td=user.name
                  td=user.email
                  each logic in account.logics
                    if user._id.toString() === logic.userId
                      td= logic.share + '%'
                  each bal in account.balance
                    if user._id.toString() === bal.userId
                      td= accounting.formatMoney(bal.curBal)

